

  <head>
    <title>Cod3.io</title>
  </head>

  <body>
    <header>


      <div id='nav'>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/create'>Create Challenge</a></li>
          <li><a href='/find'>Find Friends</a></li>
          <li><a href='/solve'>Solve Challenges</a></li>
          <li><a href='/records'>Records</a></li>
        </ul>


          </div>


          <span id='auth'>
            <ul>
              <!-- if user -->
              <li id='logout'><a href='/logout'>Log Out</a></li>
              <li id='myaccount'><a href='/myaccount'>My Account</a></li>
              <!-- if !user -->
              <!-- <li id='login'><a href='/login'>Log In</a></li> -->
            </ul>
          </span>

    </header>

    <div id='threejs'>
      <threejs>
      </threejs>
    </div>

  <footer>
    Copyright &#169; Cyberdesigns.io
  </footer>

  </body>
